/*
  -------------
  - Font Face -
  -------------
*/
@font-face {
  font-family: "arual";
  src: url(Arual.otf);
}

@font-face {
  font-family: "text";
  src: url(CaviarDreams.ttf);
}

/*
  ---------------
  - HTML / Body -
  ---------------
*/
html {
  background: url(img/background.jpg) repeat top left;
  border-top: 15px solid black;
}

body {
  background: white;
  box-shadow:0px 0px 5px #8f8f8f;
  margin: 0 auto;
  padding: 40px 4% 0px 4%;
  max-width: 850px;
}

/*
  ----------
  - Common -
  ----------
*/
h2, h3, h4, h5, h6 {
  color: #d0272b;
  font-family: "arual";
  font-weight: normal;
  letter-spacing: 0.2em;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #d0272b;
  font-family: "arual";
  letter-spacing: 0.1em;
}

a {
  color: black;
  transition-duration: 0.25s;
  transition-property: color;
}

a:hover,
a:focus {
  background: none;
  color: #dd292e;
}

section a:visited {
  color: #901b1e;
}

pre {
  border-radius: 0;
  box-shadow:0px 0px 5px #8f8f8f;
}

/*
  ----------
  - Header -
  ----------
*/
h1 {
  font-family: "arual";
  font-size: 111px;
  font-weight: lighter;
  line-height: 111px;
  text-align: center;
  text-transform: uppercase;
}

h1 a{  color: #d0272b;}

h1:before{color: #d0272b;
content:'¤'
}

h1 a:hover,
h1 a:focus {
  color: black;
}

header {
  margin-top: -25px;
}

/*
  --------------
  - Navigation -
  --------------
*/
nav {
  font-size: 1.3em;
  text-align: center;
}

nav ul {
  background: url(img/break.jpg) no-repeat top center;
  border-bottom: 1px solid #dadada;
  padding: 23px 0 0 0;
  text-transform: uppercase;
}

nav li {
  display: inline;
}

nav li a {
  color: #b62226;
  display: inline-block;
  font-family: "arual";
  padding: 0.5em 0.5em 0.25em 0.5em;
}

nav li a:hover,
nav li a:focus {
  background: url(img/square.jpg) no-repeat 50% 0;
  color: black !important;
}

nav ul li a:visited {
  color: #b62226;
}

/*
  -----------
  - Section -
  -----------
*/
body > section {
  margin-bottom: 30px;
}

article {
  border-bottom: 1px solid #dadada;
  color: #a7a7a7;
  font-family: "text";
}

article section {
  border-bottom: 1px solid #dadada;
}

article h2 {
  background: url(img/multicorn.jpg) no-repeat,
              url(img/break2.jpg) no-repeat bottom center;
  padding: 5px 0 23px 25px;
}

/*
  ----------
  - Footer -
  ----------
*/
footer {
  background: url(img/horse.jpg) no-repeat 100% 0;  
  font-family: "text";    
  margin-top: 50px;
  padding: 3px 0 0 0;
  text-align: center;
}

footer ul {
  background: url(img/footer.png) no-repeat top center;
  padding: 20px 0;
}

footer li { 
  display: inline;
}

footer li a {
  color: #d0272b !important;
  padding: 0 5px;
}

footer li a:hover {
  color: black !important;
}
