<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="{{ site.baseurl }}/css/main.css" media="screen" rel="stylesheet">
<link href="{{ site.baseurl }}/feed.xml" type="application/rss+xml" rel="alternate" title="RSS feed" />
<link href="{{ site.baseurl }}/css/img/icon.png" type="image/png" rel="shortcut icon" />

<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }} - {{ site.description }}</title>
<meta name="description" content="{{ site.description }}">

<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/">Overview</a></li>
    <li><a href="{{ site.baseurl }}/news/">News</a></li>
    <li><a href="{{ site.baseurl }}/documentation/">Documentation</a></li>
    <li><a href="{{ site.baseurl }}/contribute/">Contribute</a></li>
    <li><a href="https://github.com/Kozea/Multicorn/issues">Issues</a></li>
  </ul>
</nav>

{{ content }}

<footer>
  <ul>
    <li><a href="http://kozea.fr">Made with ❤ by Kozea</a></li>
    <li><a href="{{ site.github.repository_url }}">Fork me on GitHub</a></li>
  </ul>
</footer>
